/laskarit/viikko2/unicafe/.pytest.cache
/laskarit/viikko2/unicafe/src/__pycache__
/laskarit/viikko2/unicafe/src/tests/__pycache__
/laskarit/viikko2/unicafe/.coverage
/laskarit/viikko2/unicafe/htmlcov
/otm-harjoitustyo/src/__pycache__
/otm-harjoitustyo/src/.pytest_cache
/otm-harjoitustyo/src/.coverage
/otm-harjoitustyo/.pytest_cache
/otm-harjoitustyo/.coverage
/otm-harjoitustyo/src/tests/__pycache__
/otm-harjoitustyo/src/deck/__pycache__
/**/__pycache__